@model venntest.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="d-flex justify-content-around container d-flex align-items-center justify-content-center" style="height: 60vh;">
    <img src="@Url.Content(Model.ImagePath)" width="400" height="400" class="rounded float-left" alt="@Model.Name"/>
    <div style="width: 40vw;">
        <h1>@Model.Name</h1>
        <p>@Model.Description</p>
        <br />
        <div class="d-flex justify-content-around">
            <div class="d-flex align-items-start">
                <h5 class="text-warning">Price</h5>
                <h5 class="mx-4 text-warning"><strong>@Model.Price $</strong></h5>
            </div>
            <div class="d-flex align-items-start">
                <h5 class="text-primary">Quantity</h5>
                <h5 class="mx-4 text-primary"><strong>@Model.Quantity</strong></h5>
            </div>
            <div class="d-flex align-items-start">
                <h5 class="text-info">In stock</h5>
                <h5 class="mx-4 text-info"><strong>@Model.InStock</strong></h5>
            </div>
        </div>

    </div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
